<div class="footer bg-[#ccc]">
  <div class="container">
    <p class="text-center py-5 block capitalize text-base bg-blue">Copyright all right reserved</p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
